

.yellowBanner {
    background-color: yellow; /* Yellow background */
    padding: 20px;
    text-align: center;
    color: black; /* Text color for contrast */
    margin-bottom: 20px;
}

.yellowBanner h2 {
    font-size: 24px;
    margin: 0;
}

.yellowBanner p {
    margin: 5px 0 0;
    font-size: 16px;
}




.contactSection {
    padding: 300px 0;
    background-color: rgb(0, 99, 153);
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: white;
}

.contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactItem {
    margin-bottom: 30px;
    flex: 1 1 200px;
    max-width: 200px;
    color: #444;
}

.contactItem h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.contactItem p {
    font-size: 1rem;
    margin: 5px 0;
    color: yellow;
}

.socialLinks {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socialLinks a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s;
}

.socialLinks a:hover {
    color: #007bff;
}

/* Fancy Button Styles */
.button {
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #fff066;
    text-decoration: none;
    user-select: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
}

.button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

.button:focus,
.button:hover {
    background: #e8f16c; /* Darker shade for hover */
}

.button:active:after {
    width: 300px;
    height: 300px;
}
