.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logoSection {
    margin-bottom: 15px;
}

.logo {
    width: 150px;
}

.navLinks {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ddd;
}

.contactInfo {
    margin-bottom: 15px;
}

.socialMedia {
    display: flex;
    gap: 10px;
}

.socialLink {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socialLink:hover {
    color: #ddd;
}